#options{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top: 5px;
    background-color:#f5d4ab ;
    margin-left: 1rem;
    padding: 0.8rem;
    width: 450px;
    border: 5px solid #ff5e00;
    cursor: pointer;
    text-align: start;
}
#options p {
    padding: 1rem;
    border: 2px solid #ff5e00;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.5s;
}
#options p:hover{
    background-color: #ff5e00;
}
@media screen and (max-width: 600px){
    #question{
       flex-direction: column;
       align-items: flex-start;
       img{
        margin: 1rem;
        
       }
       button{
        margin-bottom: 2rem;
       }
    }
    .box{
        width:90% ;
    }
    #options{
    width: 90%;   
    }
  }
  @media screen and (max-width: 515px){
    #question{
       flex-direction: column;
       align-items: center;
       img{
        margin: 1rem;
        
       }
    }
  }